.container {
  display: flex;
  align-items: center;
  height: 33px;
  gap: 10px;

  div {
    background-color: var(--color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
  }

  p {
    font-size: 13px;
  }
}

.circle {
  border-radius: 9999px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rectangle {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 6px;
  height: 24px;
}
