*::-webkit-scrollbar {
  width: 0px;
}
.container {
  height: 100%;
  width: 40%;
  //   background-color: aqua;
  padding: 10px;
  overflow: scroll;
  .header {
    height: 27px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #259e73;
  }
}
