.container {
  position: relative;

  .date-time-picker-container {
    width: 180px;
    height: 25px;
    position: relative;
    border-radius: 6px;
    border: 0.42px solid rgba(0, 85, 103, 0.38);
    //box-shadow: -1.8px -1.2px 6px rgba(0, 166, 202, 0.25),
     // 1.2px 1.8px 6px rgba(0, 166, 202, 0.25);
    display: flex;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 85, 103, 0.38);
    align-items: center;

    .selected-month {
      text-align: left;
      width: 80%;
      margin-left: 10px;
    }

    .date-time-picker-logo {
      cursor: pointer;
      height: 100%;
      width: 8%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .date-time-picker {
    position: absolute;
    top: 30px;
    background-color: white;
    z-index: 15;
    border: 1px solid black;
  }
}
