.container {
    background-image: url('../assets/LoginPage.svg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .authenticationContainer {
        width: 100vw;
        height: 100vh;
      
        display: flex;
        justify-content: space-around;
      
        padding: 20px;
      
        .authenticationTab {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 60px;
      
          .header {
            text-align: center;
            font-size: 28px;
            line-height: 39px;
      
            .appName {
              background: linear-gradient(
                92.49deg,
                #10d4ff 18.89%,
                #00a6ca 39.16%,
                #f9b022 67.06%,
                #ffd78b 97.38%
              );
              font-weight: 700;
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
      
          .signInContainer {
            display: grid;
            gap: 35px;
      
            .signInButtons {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 20px;
            }
      
            .noSignIn {
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 5px;
              cursor: pointer;
      
              img {
                position: relative;
                left: 0;
                transition: all 0.4s cubic-bezier(0.37, 0.27, 0.33, 1.65);
              }
      
              &:hover {
                p {
                  text-decoration: underline;
                }
                img {
                  left: 10px;
                }
              }
            }
          }
        }
      }
      
}