.taskCards {
  position: relative;
  width: 100%;
  height: 100%;
}

.groupTask {
  position: absolute;
  background-color: #f9b122;
  margin: 0 3px;
  border-radius: 10px;
}

.suggestionTask {
  position: absolute;
  background-color: #22cef9;
  margin: 0 3px;
  border-radius: 10px;
}
