@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");

.date-item__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 43px;

	.day-container {
		width: 30px;
		height: 30px;
		border-radius: 9999px;
		display: grid;
		place-items: center;

		.day-text {
			font-size: 21px;
			font-family: Manrope, sans-serif;
			font-weight: 400;
			color: rgba(0, 166, 202, 1);
			text-align: center;
			word-wrap: break-word;
		}
	}

	.weekday-container {
		.weekday-text {
			font-size: 9.6px;
			font-family: Manrope, sans-serif;
			font-weight: 500;
			letter-spacing: 0.48px;
			color: rgba(0, 166, 202, 0.5);
			text-align: center;
			word-wrap: break-word;
		}
	}

	.thisDay {
		background-color: rgba(0, 166, 202, 1);
		color: white;

		p {
			color: white !important;
		}
	}
}
