.accumulated-point {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  h2 {
    font-weight: 600;
    font-size: 22px;

    color: #259e73;

    span {
      color: #2073ee;
      padding: 0 15px;
      text-decoration: underline;
    }
  }

  .button-group {
    display: flex;
    align-items: center;
    gap: 80px;

    div {
      width: 300px;
    }
  }

  .voucher-group {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    overflow: scroll;

    .voucher {
    }
    .container {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: space-between;
      .flow {
        width: 40%;
        height: 20px;
        background: #ffffff;
        box-shadow: -3px -2px 10px rgba(0, 166, 202, 0.25),
          5px 8px 10px rgba(0, 166, 202, 0.25);
        border-radius: 10px;
        align-self: center;
        overflow: hidden;
        // justify-content: space-between;
        .complete {
          height: 100%;
          background-color: #259e73;
          border-radius: 10px;
        }
      }
      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        align-self: center;
        gap: 10px;

        width: 86px;
        height: 25px;

        background: #259e73;
        padding: 20px 10px;

        box-shadow: -3px -2px 40px rgba(37, 158, 115, 0.6),
          2px 3px 10px rgba(37, 158, 115, 0.25);
        border: none;
        cursor: pointer;
        border-radius: 5px;
        color: #ffffff;
        &:hover {
          background: #025437;
        }
      }
      .button_none {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        align-self: center;
        gap: 10px;

        width: 86px;
        height: 25px;

        background: #585e5c;
        padding: 20px 10px;

        box-shadow: -3px -2px 40px rgba(37, 158, 115, 0.6),
          2px 3px 10px rgba(37, 158, 115, 0.25);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        color: #ffffff;
      }
    }
  }
}
