.container {
  position: relative;
  width: 100%;
  height: 100%;

  .mainBox {
    width: 100%;
    height: 100%;
  }

  .infoBox {
    position: fixed;
    z-index: 200 !important;
    cursor: default;

    // transition: 0.3s;

    .infoBoxTransition {
      opacity: 0;
      transition: 0.4s;
      z-index: 200 !important;
      display: none;
      visibility: hidden;
    }

    .enter {
      display: block;
      visibility: visible;
      opacity: 0;
    }
    .enterActive {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    .enterDone {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    .exit {
      display: block;
      visibility: visible;
      opacity: 1;
    }
    .exitActive {
      display: block;
      visibility: visible;
      opacity: 0;
    }
    .exitDone {
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }
}
