.add-item-modal-container {
	width: 800px;
	height: 600px;
	background-color: white;
	border-radius: 15px;

	transform: translate(-25%, -50%);

	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	padding: 50px;

	.title {
		font-weight: 600;
		font-size: 1.3rem;
	}

	.choosing {
		display: grid;
		gap: 30px;
		padding: 10px;
		// overflow-y: scroll;
		overflow-y: auto;

		& .item-container {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.title {
				font-weight: 600;
				font-size: 1rem;
				line-height: 22px;
			}

			.item-list {
				display: flex;
				flex-wrap: wrap;
				gap: 30px;

				.item-wrapper {
					display: flex;
					flex-direction: column;
					gap: 10px;
					align-items: center;
					position: relative;

					.item {
						cursor: pointer;
						user-select: none;
						width: 80px;
						height: 80px;
						display: grid;
						place-items: center;
						border-radius: 10px;
						box-shadow: -3px -2px 10px rgba(37, 158, 115, 0.25),
							5px 8px 10px rgba(37, 158, 115, 0.25);

						transition: 0.2s;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 80px;
							height: 80px;
							border-radius: 10px;
							background-color: rgba(64, 64, 64, 0);
							transition: 0.2s;
						}

						&:hover {
							cursor: pointer;
							background-color: rgba(222, 222, 222, 0.519);
							&::after {
								content: "";
								background: none;
							}
						}

						&:not(.disable):hover {
							cursor: pointer;
							&::after {
								content: "";
								background: url(../../../../assets/icons/trash.svg)
									no-repeat;
								background-position: center;
								position: absolute;
								top: 0;
								left: 0;
								width: 80px;
								height: 80px;
								border-radius: 10px;
								background-color: rgba(255, 0, 0, 0.519);
							}
						}
					}

					.item-tool {
						width: 100%;
						display: flex;
						justify-content: space-evenly;
						align-items: center;

						p {
							font-size: 1rem;
							font-weight: 500;
						}

						button {
							align-items: center;
							background-color: white;
							border: none;
							outline: none;
							cursor: pointer;
							padding: 5px 6px;
							border: 0.5px solid rgb(165, 165, 165);
							border-radius: 5px;

							transition: 0.2s;

							&:hover {
								background-color: rgb(5, 170, 98);
								color: white;
							}
						}
					}
				}
			}
		}
	}
}
