.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;

  position: relative;
  width: 350px;
  // height: 441.4px;

  background: #ffffff;
  // box-shadow: -1.8px -1.2px 6px rgba(0, 166, 202, 0.25),
  //   3px 4.8px 6px rgba(0, 166, 202, 0.25);
  box-shadow: 6px 6px 0 rgb(46, 166, 193);
  border: 1px solid rgb(51, 51, 51);
  border-radius: 12px;

  .taskTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    gap: 5px;
    height: 28px;
    width: 100%;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20.4px;
    line-height: 28px;

    flex: none;
    order: 0;
    flex-grow: 0;
    .title {
      color: black;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 15px;

      height: 28px;
    }
  }
  .todoTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding: 0px;
    gap: 5px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20.4px;
    line-height: 28px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    height: 28px;
  }
  .timePicker {
    box-sizing: border-box;

    background: #ffffff;
    box-shadow: -1.8px -1.2px 6px rgba(0, 166, 202, 0.25),
      1.2px 1.8px 6px rgba(0, 166, 202, 0.25);
    border-radius: 6px;
  }
  .sentencesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    .desSentence {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;
      height: 14.4px;

      .timeRemaining {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        letter-spacing: 0.3px;
        border: none;
        color: #000000;
      }
    }
    .desSentence_2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 10px;

      // width: 204.4px;
      height: 19.2px;
    }
  }
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 310px;
    // height: 162.4px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    .text {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 600;
      font-size: 9.6px;
      line-height: 13px;
      display: flex;
      align-items: center;
      letter-spacing: 0.3px;

      color: #000000;
    }
    .detailDescription {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 12px;
      width: 100%;
      .addDescription {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 0px;
        gap: 6px;

        width: 100%;
        height: 30.4px;

        background: #ffffff;

        border: 0.6px dashed rgba(0, 85, 103, 0.5);
        border-radius: 6px;
        .addText {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 9.6px;
          line-height: 13px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.3px;

          color: rgba(0, 85, 103, 0.5);
        }
      }
      .descriptionItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 18px;
        gap: 7px;

        width: 100%;

        background: #ffffff;
        box-shadow: -2.1302px -1.42013px 7.10066px rgba(0, 166, 202, 0.25),
          1.42013px 2.1302px 7.10066px rgba(0, 166, 202, 0.25);
        border-radius: 6px;
        .descriptionText {
          width: 100%;
          border: none;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 11.3611px;
          line-height: 16px;
          display: flex;
          align-items: center;
          letter-spacing: 0.355033px;

          color: #000000;
        }
      }
    }
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    .inviteParticipant {
      background: #ffffff;
      box-shadow: -1.8px -1.2px 6px rgba(0, 166, 202, 0.25),
        1.2px 1.8px 6px rgba(0, 166, 202, 0.25);
      border-radius: 6px;
      width: 234.6px;
      height: 30.6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3.6px;
    }
    .textInvite {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 9.6px;
      line-height: 13px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.3px;
      color: #0066ff;
    }
    .trashContainer {
      width: 65.4px;
      height: 30.6px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: #e11c1c;
      border-radius: 6px;

      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 10px #e11c1c;
      }
    }
  }
  .moreTaskContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 65px;
    gap: 10px;
    height: 26px;

    background: #00a6ca;
    border-radius: 6px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px #00a6ca;
    }

    .text {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;

      display: flex;
      align-items: center;
      text-align: justify;

      color: #ffffff;
    }
  }
}
