.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;

	background: linear-gradient(104.45deg, #f8f4ff 0.84%, #aadae4 93.15%);

	.informationBox {
		height: 100%;
		width: 100%;
		flex-shrink: 5;
		max-width: 200px;
		padding: 20px 20px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;

		.topBox {
			display: grid;
			gap: 50px;
			width: 100%;

			.buttonBox {
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: flex-end;
			}
		}

		.signOutButton {
			display: flex;
			padding: 5px 12px;
			border-radius: 8px;
			gap: 6px;

			.signOutIcon {
				width: 22px;
				height: 22px;
			}

			background-color: white;
			border: none;
			cursor: pointer;
		}
	}

	.mainBox {
		width: 100%;
		height: 100%;
		// flex-shrink: 1;

		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.header {
			//background-color: rgb(14, 85, 119);
			padding: 10px 30px 0px 30px;
		}

		.outlet {
			width: 100%;
			height: 100%;
			overflow: hidden;
			padding: 18px 0px 0px 18px;
		}
	}
}
